.menu {
  grid-area: menu;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.menu li + li {
  margin-left: 20px;
}
.menu-logo {
  max-width: 200px;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 1.25rem;
  background: #0000001a;
  border-radius: 6px;
  transition: 0.1s;
}
.menu-nav a:hover {
  background: #ffffff;
  color: #8844ee;
}
